@font-face {
    font-family: north;
    src: url(fonts/HoxtonNorthTrial-Bold-BF63c8981406eaa.otf);
}

@font-face {
    font-family: nlight;
    src: url(fonts/HoxtonNorthTrial-Light-BF63c89814351b0.otf);
}

body {
    margin: auto;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f0ecf4;
    overflow: hidden;
}

.barra {
    margin-top: -5.2vh;
    width: 100vw;
    height: 10vh;
    background-color: white;
}

#user {
    position: absolute;
    top: -2.5vh;
    left: 95vw;
    width: 2.5vw;
    height: 5vh;
}

#options {
    position: relative;
    margin-top: 10vh;
    left: 1.4vw;
    width: 2.5vw;
    height: 5vh;
    z-index: 1;
}


.grid-container {
    position: absolute;
    top: 0vh;
    left: 0vw;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    border-radius: 20px;
    width: 98vw;
    height: 99vh;
    max-width: 100%;

    }

    .grid-container > div {
        border-radius: 10px;
        height: 20vh;
    }

    .nose {
        position: relative;
        grid-column: 2/3;
        margin-top: 7vh;
    }

    #dashboard {
        position: relative;
        color: black;
        font-size: 5vh;
        font-family: north;
        top: 4vh;
    }

    #dash {
        position: absolute;
        color: #858489;
        top: 13vh;
    }
    
    #home {
        color: blue;
        opacity: 1;
    }

    #uno {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: -21vw;
        background-color: white;
    }

    #mil {
        position: absolute;
        font-size: 3vh;
        margin-top: -2.5vh;
        margin-left: 2vh;
        font-family: north;
    }

    #traffic {
        position: absolute;
        font-size: 2vh;
        margin-top: 1vh;
        margin-left: 2vh;
        font-family: north;
    }

    #porciento {
        position: absolute;
        top: 43vh;
        margin-left: 2vh;
        font-family: north;
        font-size: 1.6vh;
    }

    #loading {
        position: absolute;
        width: 25vw;
        margin-top: 2.5vh;
        margin-left: -21.7vw;
    }

    #up {
        position: relative;
        margin-top: 2vh;
        margin-left: 18vw;
        width: 1.5vw;
    }

    #down {
        position: relative;
        margin-top: 2vh;
        margin-left: 18vw;
        width: 1.5vw;
    }

    #dos {
        grid-column-start: 3;
        grid-column-end: 4;
        margin-top: -21vw;
        background-color: white;
    }

    #tres {
        grid-column-start: 4;
        grid-column-end: 5;
        margin-top: -21vw;
        background-color: white;
    }

    #cuatro {
        grid-column-start: 5;
        grid-column-end: 6;
        margin-top: -21vw;
        background-color: white;
    }

    #cinco {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row: 2 / 3;
        width: 100%;
        margin-left: 0vw;
        margin-top: 23vh;
        background-color: white;
    }

    #sales {
        font-family: north;
        font-size: 3vh;
        margin-left: 2vh;
        margin-top: 4.5vh;
    } 

    #world {
        font-family: north;
        font-size: 5vh;
        margin-left: 2vh;
    }


    #sidebar {
        position: relative;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 5.525vw;
        height: 99.7vh;
        margin-top: -71vh;
        margin-left: 0vw;
        border-radius: 0;
        background-color: white;
    }

    #check:checked ~#sidebar {
        width: 15vw;
        height: 100vh;
        animation-name: nose;
        animation-duration: 1s;
        transition: 1s;
    }

    @keyframes nose {
        from { width: 5vw ; height: 100vh;}
        to { width: 15vw; height: 100vh;}
    }

    #smile {
        position: absolute;
        top: -2vh;
        left: 1.66vw;
    }

    #smiles {
        position: absolute;
        color: #1369ed;
        top: -1.8vh;
        left: 4vw;
        font-size: 5vh;
        font-family: north;
    }


    #admin {
        position: absolute;
        top: 2vh;
        left: 4vw;
        font-family: north;
    }

    #main {
        position: absolute;
        font-family: north;
        top: 20vh;
        left: 1vw;
        color: #858489;
    }

    #and {
        position: absolute;
        font-family: north;
        top: 46vh;
        left: 1vw;
        color: #858489;
    }

    #board1 {
        position: absolute;
        top: 12vh;
        margin-left: 1.2vw;
        width: 3vw;
        height: 6vh;
        background-color: #1369ed;
        border-radius: 10px;
    }

    #check:checked ~#sidebar #board1 {
        width: 13vw;
        height: 6vh;
        animation-name: boardsito;
        animation-duration: 1s;
    }

    @keyframes boardsito {
        from { width: 3vw ; height: 6h;}
        to { width: 13vw; height: 6vh;}
    }

    #board {
        position: relative;
        top: 1vh;
        margin-left: 0.5vw;
    }

    .conjunto1 span {
        opacity: 0;
        transition: opacity 2s;
    }

    #check:checked ~ #sidebar .conjunto1 span {
        opacity: 1;
    }
      
    #check:not(:checked) ~ #sidebar .conjunto1 span {
        opacity: 0;
        transition: opacity 0s;
    }

    #check:checked ~ #sidebar .conjunto2 span {
        opacity: 1;
    }

    .conjunto2 span {
        opacity: 0;
        transition: opacity 2s;
    }
      
    #check:not(:checked) ~ #sidebar .conjunto2 span {
        opacity: 0;
        transition: opacity 0s;
    }

    #elements {
        position: absolute;
        margin-top: 18vh;
        margin-left: 1.7vw;
        cursor: pointer;
    }

    button{
        position: absolute;
        margin-top: 21vh;
        margin-left: 2vw;
        visibility: hidden;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 1.7vw;
        margin-top: 22vh;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .conjunto1:hover span {
        background-color: gray; 
        cursor: pointer; 
    }

    .conjunto1:hover #elements {
        background-color: gray; 
        cursor: pointer; 
    }


    #element {
        position: absolute;
        font-size: 2.2vh;
        top: -1.5vh;
        left: 3.5vw;
        font-family: north;
        visibility: visible;
    }

    #chart {
        position: absolute;
        margin-top: 23.3vh;
        margin-left: 1.7vw;
    }

    #chart:hover {
        background-color: gray; 
        cursor: pointer; 
    }

    .conjunto1:hover #chart {
        background-color: gray; 
        cursor: pointer; 
    }

    #charts {
        position: absolute;
        top: 31.9vh;
        left: 5.5vw;
        font-family: north;
    }

    #widget {
        position: absolute;
        margin-top: 29vh;
        margin-left: 1.7vw;
    }

    #widget:hover {
        background-color: gray; 
        cursor: pointer; 
    }

    .conjunto1:hover #widget {
        background-color: gray; 
        cursor: pointer; 
    }

    #widgets {
        position: absolute;
        top: 38.1vh;
        left: 5.5vw;
        font-family: north;
    }

    #table {
        position: absolute;
        margin-top: 41.2vh;
        margin-left: 1.7vw;
    }

    #table:hover {
        background-color: gray; 
        cursor: pointer; 
    }

    .conjunto1:hover #table {
        background-color: gray; 
        cursor: pointer; 
    }

    #tables {
        position: absolute;
        top: 50.2vh;
        left: 5.5vw;
        font-family: north;
    }

    #forms {
        position: absolute;
        margin-top: 47.2vh;
        margin-left: 1.7vw;
    }

    #forms:hover {
        background-color: gray; 
        cursor: pointer; 
    }

    .conjunto1:hover #forms {
        background-color: gray; 
        cursor: pointer; 
    }

    #form {
        position: absolute;
        font-size: 2vh;
        top: -0.3vh;
        left: 3.5vw;
        font-family: north;
        visibility: visible;
    }

    .forms-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 1.7vw;
        margin-top: 51vh;
    }

    .forms-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .forms-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .forms-content {
        display: block;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    #button {
        position: absolute;
        visibility: hidden;
        margin-top: 49vh;
        margin-left: 2vw;
    }