@font-face {
    font-family: estaEs;
    src: url(font/Cascadia.ttf);
}

body {
    background-color: #1e1d2b;
    width: 1920px;
    height: 6000px;
}


.food {
    position: absolute;
    top: -25px;
    left: 145px;
    font-family: estaEs;
    font-size: 60px;
    color: #ff702a;
}

.home {
    position: absolute;
    top: 30px;
    left: 1400px;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #fff;
}

:any-link {
    text-decoration: none;
    color: #fff;
}

.about {
    position: absolute;
    top: 30px;
    left: 1580px;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #fff;
}

.menu {
    position: absolute;
    top: 30px;
    left: 1745px;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #fff;
}

.service {
    position: absolute;
    top: 30px;
    left: 1885px;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #fff;
}

.contact {
    position: absolute;
    top: 30px;
    left: 2040px;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #fff;
}

.website {
    position: absolute;
    top: 175px;
    left: 310px;
    font-family: 'estaEs', sans-serif;
    font-size: 125px;
    color: #ff702a;
}

.homes img{
    position: absolute;
    top: 200px;
    left: 1300px;
    width: 650px;
    height: 650px;
}

.thing {
    position: absolute;
    top: 435px;
    left: 315px;
    font-family: 'estaEs', sans-serif;
    font-size: 45px;
    color: #fff;
}

.cuadrito {
    position: absolute;
    width: 270px;
    height: 60px;
    border: 5px solid #ff702a;
    background-color: #ff702a;
    top: 640px;
    left: 315px;
}

.today {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 33px;
    color: #fff;
    top: 620px;
    left: 335px;
}

.aboutimg img {
    position: absolute;
    top: 1295px;
    left: 330px;
    width: 680px;
    height: 680px;
}

.us {
    position: absolute;
    top: 1310px;
    left: 1210px;
    font-family: 'estaEs', sans-serif;
    font-size: 35px;
    color: #ff702a;
}

.we {
    position: absolute;
    top: 1330px;
    left: 1210px;
    font-family: 'estaEs', sans-serif;
    font-size: 70px;
    color: #fff; 
}

.point {
    position: absolute;
    top: 1560px;
    left: 1210px;
    font-family: estaEs;
    font-size: 31.5px;
    color: #fff; 
}

.cuadrito2 {
    position: absolute;
    width: 250px;
    height: 60px;
    border: 5px solid #ff702a;
    background-color: #ff702a;
    top: 1740px;
    left: 1210px;
}

.learn {
    position: absolute;
    font-family: estaEs;
    font-size: 30px;
    color: #fff;
    top: 1725px;
    left: 1250px;
}

.fmenu {
    position: absolute;
    top: 2210px;
    left: 1020px;
    font-family: 'estaEs', sans-serif;
    font-size: 35px;
    color: #ff702a;
}

.fresh {
    position: absolute;
    top: 2225px;
    left: 575px;
    font-family: 'estaEs', sans-serif;
    font-size: 75px;
    color: #fff;
}

.marco1 img {
    position: absolute;
    top: 2515px;
    left: 300px;
    width: 520px;
    height: 520px;
}

.food1 img {
    position: absolute;
    top: 2550px;
    left: 380px;
    width: 370px;
    height: 350px;
}

.chicken {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #000;
    top: 2850px;
    left: 450px;
}

.tasty {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 25px;
    color: #000;
    top: 2907px;
    left: 490px;
}

.once {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 25px;
    color: #ff702a;
    top: 2940px;
    left: 520px; 
}

.marco2 img {
    position: absolute;
    top: 2515px;
    left: 860px;
    width: 520px;
    height: 520px;
}

.food2 img {
    position: absolute;
    top: 2540px;
    left: 935px;
    width: 370px;
    height: 350px;
}

.special {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #000;
    top: 2850px;
    left: 960px; 
}

.tasty2 {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 25px;
    color: #000;
    top: 2907px;
    left: 1055px;
}

.once2 {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 25px;
    color: #ff702a;
    top: 2940px;
    left: 1083px; 
}

.marco3 img {
    position: absolute;
    top: 2515px;
    left: 1400px;
    width: 520px;
    height: 520px;
} 

.food3 img {
    position: absolute;
    top: 2540px;
    left: 1480px;
    width: 340px;
    height: 320px;
}

.fry {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    color: #000;
    top: 2850px;
    left: 1520px;
}

.tasty3 {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 25px;
    color: #000;
    top: 2907px;
    left: 1590px;
}

.once3 {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 25px;
    color: #ff702a;
    top: 2940px;
    left: 1620px; 
}

.services {
    position: absolute;
    top: 3270px;
    left: 1020px;
    font-family: 'estaEs', sans-serif;
    font-size: 35px;
    color: #ff702a;
}

.provide {
    position: absolute;
    top: 3320px;
    left: 480px;
    font-family: 'estaEs', sans-serif;
    font-size: 75px;
    color: #fff;
}

.s1 img {
    position: absolute;
    top: 3530px;
    left: 350px;
    height: 340px;
    width: 340px;
}

.s2 img{
    position: absolute;
    top: 3530px;
    left: 950px;
    height: 340px;
    width: 340px;
}


.s3 img {
    position: absolute;
    top: 3530px;
    left: 1590px;
    height: 310px;
    width: 310px;
}

.order {
    position: absolute;
    top: 3820px;
    left: 450px;
    font-family: 'estaEs', sans-serif;
    font-size: 40px;
    color: #ff702a;
}

.shipping {
    position: absolute;
    top: 3820px;
    left: 1030px;
    font-family: 'estaEs', sans-serif;
    font-size: 40px;
    color: #ff702a;
}

.dellvered {
    position: absolute;
    top: 3820px;
    left: 1655px;
    font-family: 'estaEs', sans-serif;
    font-size: 40px;
    color: #ff702a;
}

.text1 {
    position: absolute;
    text-align: center;
    top: 3890px;
    left: 170px;
    font-family: 'estaEs', sans-serif;
    font-size: 35px;
    color: #fff;  
}

.text2 {
    position: absolute;
    text-align: center;
    top: 3890px;
    left: 800px;
    font-family: 'estaEs', sans-serif;
    font-size: 35px;
    color: #fff;  
}

.text3 {
    position: absolute;
    text-align: center;
    top: 3890px;
    left: 1430px;
    font-family: 'estaEs', sans-serif;
    font-size: 35px;
    color: #fff;  
}

.rectangle img {
    position: absolute;
    top: 4250px;
    left: 140px;
    width: 2000px;
}

.text4 {
    position: absolute;
    text-align: center;
    top: 4300px;
    left: 650px;
    font-family: 'estaEs', sans-serif;
    font-size: 80px;
    color: #000;  
}

.cuadro {
    position: absolute;
    width: 260px;
    height: 60px;
    border: 5px solid #ff702a;
    background-color: #ff702a;
    top: 4640px;
    left: 990px;
}

.more {
    position: absolute;
    font-family: 'estaEs', sans-serif;
    font-size: 30px;
    top: 4627px;
    left: 1035px;
    color: #fff;
}