.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
    background-color: black;
    border-radius: 10px;
    padding: 30px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0px 0;
    margin: 0px;
    font-size: 30px;
    border-radius: 10px;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50vw;
    height: 68vh;
  }

  #uno {
    border-radius: 10px;
    width: 50vw;
    height: 68vh;
  }

  .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50vw;
    height: 68vh;
  }

  #dos {
    border-radius: 10px;
    width: 50vw;
    height: 68vh;
  }

  .item2 img {
    border-radius: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 42vw;
    height: 140vh;
    }

    .item2 {
        border-radius: 10px;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 42vw;
        height: 140vh;
    }

    .item8 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

  #trex {
    border-radius: 10px;
    grid-row: 2 / span 3;
    grid-column: 1 / span 3;
    width: 95vw;
  }