body {
  background-color: #0f1223;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 3%;
    background-color: black;
    border-radius: 3%;
    padding: 3%;
    width: 92vw;
    height: auto;
    max-width: 100%;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0px 0;
    margin: 0px;
    font-size: 3%;
    border-radius: 3%;
  }

  #uno {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 3%;
    width: 100%;
  }


  #dos {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 3%;
    width: 100%;
  }

  #letrica {
    border-radius: 3%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
  }

  .rex {
    border-radius: 3%;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #trex {
    border-radius: 3%;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3%;
  background-color: black;
  border-radius: 3%;
  padding: 3%;
  margin-top: 5%;
  width: 92vw;
  max-width: 100vw;
  }
  
  #green {
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
  }

  #tricer {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
    width: 100%;
  }

  #collage {
    border-radius: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
  }
