.metrico img {

    position: relative;
    top: 103px;
    left: 359px;
    width: 576px;
    height: 324px;
}

.principal {

    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
    height: 1200px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;

}

.card{

    position: relative;
    top: 200px;
    left: 100px;
    width: 1400px;
    height: 800px;
    border: 1px solid gray;
    background-color: white;

}

.logo img {

    position: relative;
    top: 43px;
    left: 43px;
    width: 196px;
    height: 44px;

}

.cuadrito img {
    position: absolute;
    width: 160px;
    height: 114px;
    top: 647px;
    right: 160px;

}

.chiqui img {

    position: absolute;
    width: 129px;
    height: 29px;
    top: 676px;
    right: 176px;

}

.comprita img {

    position: absolute;
    width: 111px;
    height: 36px;
    top: 717px;
    right: 184px;

}

.pay img {

    position: absolute;
    width: 230px;
    height: 41px;
    top: 40px;
    right: 470px;

}

.line img {

    position: absolute;
    top: 102.5px;
    right: 320.75px;
    width: 84px;
    height: 0px;
    border: 2px solid var(--unnamed-color-212020);
    border: 2px solid #212020;
    opacity: 1;

}

.saldito img {

    position: absolute;
    width: 132px;
    height: 41px;
    top: 42px;
    right: 296px;

}

.lupita img {

    position: absolute;
    width: 27px;
    height: 27px;
    top: 51.75px;
    right: 249.3px;

}

.carrito img {

    position: absolute;
    width: 33px;
    height: 32px;
    top: 51.5px;
    right: 143.33px;

}

.rectangle img {

    position: absolute;
    width: 110px;
    height: 800px;
    top: 0;
    right: 0;

}

.up img {

    position: absolute;
    width: 24px;
    height: 14px;
    top: 40px;
    right: 43.2px;

}

.down img {

    position: absolute;
    width: 24px;
    height: 14px;
    bottom: 40.5px;
    right: 43.38px;

}

.Pepito {

    position: absolute;
    top: 400px;
    left: 301px;
    width: 700px;
    height: 55px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-55) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 600 40px/55px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.saldo {

    position: absolute;
    top: 477px;
    left: 483px;
    width: 329px;
    height: 37px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-27)/var(--unnamed-line-spacing-37) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 600 27px/37px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.esc {

    position: absolute;
    top: 544px;
    left: 539px;
    width: 200px;
    height: 37px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-27)/var(--unnamed-line-spacing-37) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 600 27px/37px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.mil {

    position: absolute;
    top: 610px;
    left: 599px;
    width: 77px;
    height: 37px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-27)/var(--unnamed-line-spacing-37) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 600 27px/37px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;

}


.cuadro {

    position: absolute;
    top: 625px;
    left: 495px;
    width: 288px;
    height: 58px;
    border: 2px solid #707070;
    border-radius: 10px;
    opacity: 0.5;

}

.valor {

    position: absolute;
    top: 167px;
    right: 27px;
    width: 48px;
    height: 27px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.valor1 {

    position: absolute;
    top: 307px;
    right: 26px;
    width: 57px;
    height: 27px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff80);
    text-align: left;
    font: normal normal normal 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF80;

}

.valor2  {

    position: absolute;
    top: 387px;
    right: 26px;
    width: 57px;
    height: 27px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.valor3 {

    position: absolute;
    top: 467px;
    right: 26px;
    width: 57px;
    height: 27px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff80);
    text-align: left;
    font: normal normal normal 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF80;
    opacity: 1;

}